body {
    font-family: Arial, sans-serif;
    background-color: white ;
}


header {
    background-color: rgb(65, 62, 62);
    color: white;
    text-align: center;
    padding: 20px ;
    margin-bottom: 20px;
}
.section1 {
    width: 50%;
    margin: auto;
    background-color: white;
    padding: 20px;
    border: 2px solid black;
    border-radius: 10px;
    text-align: center;
    margin-bottom: 20px;
}
.img {
    width: 150px;
    height: 150px;
    border-radius: 20%; 
    margin-bottom: 15px;
}
.student_name {
    font-size: 1.8em;
    margin: 10px 0;
}

.student_info {
    font-size: 1.1em;
    margin: 5px 0;
}

.bio {
    margin-top: 15px;
    font-size: 1em;
 
}
footer {
    background-color: rgb(82, 80, 80);
    color: white;
    text-align: center;
    padding: 15px 0;
}
